@import "tailwindcss";

.clip-angled-70 {
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%, 0 42%);
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.4, 0.2, 0.2, 1) both;
}

